﻿/* Navbar
 =================================*/
nav.navbar.bootsnav {
	margin-bottom: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	background-color: #fff;
	z-index: 9;
}

nav.navbar.bootsnav ul.nav > li > a {
	color: #6f6f6f;
	background-color: transparent;
	outline: none;
	margin-bottom: -2px;
}

nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover, nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus, nav.navbar.bootsnav ul.nav li.active > a:hover, nav.navbar.bootsnav ul.nav li.active > a:focus, nav.navbar.bootsnav ul.nav li.active > a {
	background-color: transparent;
}

nav.navbar.bootsnav .navbar-toggler {
	background-color: #fff;
	border: none;
	padding: 0;
	font-size: 18px;
	position: relative;
	top: 0;
	display: none;
}

nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu {
	top: 0;
	left: 100%;
}

nav.navbar.bootsnav ul.nav ul.dropdown-menu > li > a {
	white-space: normal;
}

ul.menu-col {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu-col li a {
	color: #6f6f6f;
}

ul.menu-col li a:hover, ul.menu-col li a:focus {
	text-decoration: none;
}

.stricky {
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}

/* Navbar Responsive
 =================================*/
@media (min-width: 1024px) and (max-width: 1400px) {
	body.wrap-nav-sidebar .wrapper .container {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 1024px) {
	/* General Navbar
	 =================================*/
	nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu {
		margin-top: -2px;
	}

	nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu {
		left: -200px;
	}

	nav.navbar.bootsnav ul.nav > li > a {
		padding: 30px 15px;
		font-weight: 600;
	}

	nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
		font-family: 'FontAwesome';
		content: "\f0d7";
		margin-left: 5px;
		margin-top: 2px;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
		-moz-box-shadow: 0px 0px 0px;
		-webkit-box-shadow: 0px 0px 0px;
		-o-box-shadow: 0px 0px 0px;
		box-shadow: 0px 0px 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-o-border-radius: 0px;
		border-radius: 0px;
		padding: 0;
		width: 200px;
		background: #fff;
		border: solid 1px #e0e0e0;
		border-top: solid 5px;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover, nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li a:hover {
		background-color: transparent;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
		padding: 10px 15px;
		border-bottom: solid 1px #eee;
		color: #6f6f6f;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li:last-child > a {
		border-bottom: none;
	}

	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
		text-align: right;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before {
		font-family: 'FontAwesome';
		float: right;
		content: "\f105";
		margin-top: 0;
	}

	nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before {
		font-family: 'FontAwesome';
		float: left;
		content: "\f104";
		margin-top: 0;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu {
		top: -3px;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content {
		padding: 0 15px !important;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content > li {
		padding: 25px 0 20px;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content.tabbed {
		padding: 0;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content.tabbed > li {
		padding: 0;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu {
		padding: 0 30px;
		margin: 0 -0.5px;
		border-left: solid 1px #f0f0f0;
		border-right: solid 1px #f0f0f0;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu:first-child {
		border-left: none;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu:last-child {
		border-right: none;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content {
		display: none;
	}

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
		text-align: left;
		padding: 5px 0;
		display: block;
		width: 100%;
		margin-bottom: 0;
		border-bottom: none;
		color: #6f6f6f;
	}

	nav.navbar.bootsnav.on ul.dropdown-menu.megamenu-content .content {
		display: block !important;
		height: auto !important;
	}

}

@media (max-width: 991px) {
	/* Navbar Responsive
	 =================================*/
	nav.navbar.bootsnav .navbar-brand {
		display: inline-block;
		float: none !important;
		margin: 0 !important;
	}

	nav.navbar.bootsnav .navbar-header {
		float: none;
		display: block;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		    border-bottom: solid 1px #e0e0e0;
	}

	nav.navbar.bootsnav .navbar-toggler {
		display: inline-block;
		float: left;
		margin-right: -200px;
		width: 40px;
		padding: 23px;
	}

	nav.navbar.bootsnav .navbar-collapse {
		border: none;
		margin-bottom: 0;
	}

	nav.navbar.bootsnav.no-full .navbar-collapse {
		max-height: 350px;
		overflow-y: auto !important;
	}

	nav.navbar.bootsnav .navbar-nav {
		float: none !important;
		padding-left: 0px;
		padding-right: 0px;
	}

	nav.navbar.bootsnav .navbar-nav > li {
		float: none;
	}

	nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before {
		font-family: 'FontAwesome';
		content: "\f105";
		float: right;
		font-size: 16px;
		margin-left: 10px;
	}

	nav.navbar.bootsnav li.dropdown.on > a.dropdown-toggle:before {
		content: "\f107";
	}

	nav.navbar.bootsnav .navbar-nav > li > a {
		display: block;
		width: 100%;
		border-bottom: solid 1px #e0e0e0;
		padding: 10px 0;
		border-top: solid 1px #e0e0e0;
		margin-bottom: -1px;
	}

	nav.navbar.bootsnav .navbar-nav > li:first-child > a {
		border-top: none;
	}

	nav.navbar.bootsnav ul.navbar-nav.navbar-left > li:last-child > ul.dropdown-menu {
		border-bottom: solid 1px #e0e0e0;
	}

	nav.navbar.bootsnav ul.nav li.dropdown li a.dropdown-toggle {
		float: none !important;
		position: relative;
		display: block;
		width: 100%;
	}

	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu {
		width: 100%;
		position: relative !important;
		background-color: transparent;
		float: none;
		border: none;
		padding: 0 0 0 15px !important;
		margin: 0 0 -1px 0 !important;
		-moz-box-shadow: 0px 0px 0px;
		-webkit-box-shadow: 0px 0px 0px;
		-o-box-shadow: 0px 0px 0px;
		box-shadow: 0px 0px 0px;
		-moz-border-radius: 0px 0px 0px;
		-webkit-border-radius: 0px 0px 0px;
		-o-border-radius: 0px 0px 0px;
		border-radius: 0px 0px 0px;
	}

	nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
		display: block;
		width: 100%;
		border-bottom: solid 1px #e0e0e0;
		padding: 10px 0;
		color: #6f6f6f;
	}

	nav.navbar.bootsnav ul.nav ul.dropdown-menu li a:hover, nav.navbar.bootsnav ul.nav ul.dropdown-menu li a:focus {
		background-color: transparent;
	}

	nav.navbar.bootsnav ul.nav ul.dropdown-menu ul.dropdown-menu {
		float: none !important;
		left: 0;
		padding: 0 0 0 15px;
		position: relative;
		background: transparent;
		width: 100%;
	}

	nav.navbar.bootsnav ul.nav ul.dropdown-menu li.dropdown.on > ul.dropdown-menu {
		display: inline-block;
		margin-top: -10px;
	}

	nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:after {
		display: none;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title {
		padding: 10px 15px 10px 0;
		line-height: 24px;
		text-transform: none;
		font-weight: 400;
		letter-spacing: 0px;
		margin-bottom: 0;
		cursor: pointer;
		border-bottom: solid 1px #e0e0e0;
		color: #6f6f6f;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu ul > li > a {
		display: block;
		width: 100%;
		border-bottom: solid 1px #e0e0e0;
		padding: 8px 0;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before {
		font-family: 'FontAwesome';
		content: "\f105";
		float: right;
		font-size: 16px;
		margin-left: 10px;
		position: relative;
		right: -15px;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu:last-child .title {
		border-bottom: none;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu.on:last-child .title {
		border-bottom: solid 1px #e0e0e0;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu:last-child ul.menu-col li:last-child a {
		border-bottom: none;
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu.on .title:before {
		content: "\f107";
	}

	nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .content {
		padding: 0 0 0 15px;
	}

	nav.bootsnav.brand-center .navbar-collapse {
		display: block;
	}

	nav.bootsnav.brand-center ul.nav {
		margin-bottom: 0px !important;
	}

	nav.bootsnav.brand-center .navbar-collapse .col-half {
		width: 100%;
		float: none;
		display: block;
	}

	nav.bootsnav.brand-center .navbar-collapse .col-half.left {
		margin-bottom: 0;
	}

	nav.bootsnav .megamenu-content {
		padding: 0;
	}

	nav.bootsnav .megamenu-content .col-menu {
		padding-bottom: 0;
	}

	nav.bootsnav .megamenu-content .title {
		cursor: pointer;
		display: block;
		padding: 10px 15px;
		margin-bottom: 0;
		font-weight: normal;
	}

	nav.bootsnav .megamenu-content .content {
		display: none;
	}

	.attr-nav {
		position: absolute;
		right: 60px;
	}

	.attr-nav > ul {
		padding: 0;
		margin: 0 -15px -7px 0;
	}

	.attr-nav > ul > li > a {
		padding: 16px 15px 15px;
	}

	.attr-nav > ul > li.dropdown > a.dropdown-toggle:before {
		display: none;
	}

	.attr-nav > ul > li.dropdown ul.dropdown-menu {
		margin-top: 2px;
		margin-left: 55px;
		width: 250px;
		left: -250px;
		border-top: solid 5px;
	}

	.top-search .container {
		padding: 0 45px;
	}

	/* Mobile Navigation
	 =================================*/
	body > .wrapper {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	body.side-right > .wrapper {
		margin-left: 280px;
		margin-right: -280px !important;
	}

	nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
		position: fixed;
		overflow-y: auto !important;
		overflow-x: hidden !important;
		display: block;
		background: #fff;
		z-index: 99;
		width: 280px;
		height: 100% !important;
		left: -280px;
		top: 0;
		padding: 0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	nav.navbar.bootsnav.navbar-mobile .navbar-collapse.in {
		left: 0;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav {
		width: 293px;
		padding-right: 0;
		padding-left: 15px;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav > li > a {
		padding: 15px 15px;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu > li > a {
		padding-right: 15px !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title {
		padding-right: 30px !important;
		padding-top: 13px !important;
		padding-bottom: 13px !important;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a {
		padding-top: 13px !important;
		padding-bottom: 13px !important;
	}

	nav.navbar.bootsnav.navbar-mobile .navbar-collapse [class*=' col-'] {
		width: 100%;
	}

	nav.navbar.bootsnav.navbar-fixed .logo-scrolled {
		display: block !important;
	}

	nav.navbar.bootsnav.navbar-fixed .logo-display {
		display: none !important;
	}

	nav.navbar.bootsnav.navbar-mobile .tab-menu, nav.navbar.bootsnav.navbar-mobile .tab-content {
		width: 100%;
		display: block;
	}
}

@media (max-width: 767px) {
	nav.navbar.bootsnav .navbar-header {
		padding-left: 15px;
		padding-right: 15px;
	}

	nav.navbar.bootsnav .navbar-nav {
		padding-left: 15px;
		padding-right: 15px;
	}

	.attr-nav {
		right: 30px;
	}

	.attr-nav > ul {
		margin-right: -10px;
	}

	.attr-nav > ul > li > a {
		padding: 16px 10px 15px;
		padding-left: 0 !important;
	}

	.attr-nav > ul > li.dropdown ul.dropdown-menu {
		left: -275px;
	}

	.top-search .container {
		padding: 0 15px;
	}

	nav.bootsnav.navbar-full .navbar-collapse {
		left: 15px;
	}

	nav.bootsnav.navbar-full .navbar-header {
		padding-right: 0;
	}

	nav.bootsnav.navbar-full .navbar-toggler {
		margin-right: -15px;
	}

	nav.bootsnav.navbar-full ul.nav > li > a {
		font-size: 18px !important;
		line-height: 24px !important;
		padding: 5px 10px !important;
	}

	.top-info__block.text-right.ptb-20 {
		display: none;
		text-align: center;
	}

	/* Mobile Navigation
	 =================================*/
	body.side-right > .wrapper {
		margin-left: 280px;
		margin-right: -280px !important;
	}

	nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
		margin-left: 0;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav {
		margin-left: -15px;
	}

	nav.navbar.bootsnav.navbar-mobile ul.nav {
		border-top: solid 1px #fff;
	}

	li.close-full-menu {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
}

@media (min-width: 480px) and (max-width: 640px) {
	nav.bootsnav.navbar-full ul.nav {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/*==============Custom Nav===============*/

/*Header Part CSS*/
.top-part__block {
	background-color: #28303b;
	color: #7f8997;
	overflow: hidden;
	position: relative;
}
.top-part__block:after {
	background: #18364a;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	content: '';
}

.top-part__block:before {
	content: "";
	background: #18364a;
	transform: skewX(-30deg);
	-webkit-transform: skewX(-30deg);
	height: 100%;
	width: 79px;
	right: 47%;
	top: 0;
	position: absolute;
	
    box-shadow: 2px 2px 0px 11px #3b5999;
}
.top-part__block .container {
	position: relative;
	z-index: 1;
}
.top-info__block p, .top-part__block p {
	margin: 0;
	font-size: 19px;
	*text-transform: capitalize;
}
.top-part__block p{
	margin-top: 6px;
	font-size: 17px;
}
.social-link__block a {
	    color: #fff;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-top: 2px;
     position: relative;
	     z-index: 2;
}
.social-link__block a.facebook  {
    background-color: #3a6bb1;
}
.social-link__block a.twitter  {
    background-color: #0ec8f5;
}
.social-link__block a.google-plus  {
    background-color: #f2623b;
}
.social-link__block a.linkedin  {
    background-color: #0094d3;
}
.social-link__block a:after{
	    content: '';
    position: absolute;
    background-color: #364c61;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scaleY(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social-link__block a:hover:after	{
    opacity: 1;
     transform: scaleY(1);
}
.top-part__block {
	background-color: #fff;
	color: #333;
	height: 50px;
	    padding-top: 6px;
}

.top-info__block ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.top-info__block ul li {
	display: inline-table;
	position: relative;
}
@media(max-width:767px){
	.top-info__block ul li{
		margin-bottom: 18px;
	}
}
.top-info__block p span {
	color: #676767;
	display: block;
	font-size: 11px;
}
.middel-part__block {
	background: #e3ff0dc7;
	position: relative;    
}
.middel-part__block .logo a {
	display: inline-block;
	padding: 20px 0;
	z-index: 9;
}

.top-info__block li i {
	color: #3b5999;
	font-size: 30px;
	height: 50px;
	left: 0;
	line-height: 50px;
	margin-top: -25px;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 50px;
}
.top-info__block p {
	margin-right: 15px;
	padding-left: 46px;
	text-align: left;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}
.top-info__block .logo a {
	display: inline-block;
	padding: 20px 0;
}
@media (max-width: 991px) {
	.middel-part__block .container, .navbar-toggleable-md > .container {
		width: 100%;
	}
	.middel-part__block .mobile-plr, .navbar-toggleable-md .mobile-plr {

		padding: 0;
	}
	.top-part__block, .middel-part__block::before {
		display: none;
	}

	.top-info__block.text-right.ptb-20 {
		text-align: center;
	}
	nav.navbar.bootsnav .navbar-toggler {
		float: right;
		margin-right: 0;
	}
	nav.navbar.bootsnav .navbar-brand {
		float: left !important;
	}
	.navbar-brand > img {
		width: 120px;
	}
	nav.navbar .navbar-brand {
		top: -5px;
	}
}
.top-info__block {
	padding-bottom: 22px;
	padding-top: 55px;
	font-size: 0px;
}
.top-info__block li {
	border-right: 1px solid #cfcfd0;
}
.top-info__block li:last-child {
	border: medium none;
}

/*hero section and mann menu*/
.hero-wrapper__block {
	background-image: url("../images/hero-bg.jpg");
	background-position: center center;
	background-size: cover;
	display: table;
	height: 700px;
	max-height: 700px;
	width: 100%;
}

.navbar {
	padding: 0;
	border: none;
}
/*dorpdown menu*/
.main_nav ul li > ul {
	border: none;
	background: none;
	border-bottom: 2px solid #0c1f38;
	border-radius: 0;
	position: absolute;
	padding: 0 0;
	top: 59px;
	width: 230px;
}
.navbar-nav  li {
	position: relative;
}
.navbar-nav  li a {
	text-transform: capitalize;
	display: block;
}
.main_nav ul ul li {
	border-bottom: 1px solid rgba(145, 145, 145, 0.44);
	display: block;
	background: #ffffff;
}
.main_nav ul ul li a {
	display: block;
	margin: 0;
	color: #919191;
	padding: 13px 6px 13px 30px;
	position: relative;
	transition: .4s;
	border: none;
}
.dropdown:hover .dropdown-menu {
	display: block;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
}
.navbar-toggler .icon-bar {
	background-color: #fff;
}
.nav.navbar-nav {
	float: none;
}
nav.navbar.bootsnav ul.nav > li > a {
	color: #333;
	font-size: 15px;
	padding: 20px 33px;
}

nav.navbar.bootsnav ul.nav > li > a.custom-btn {
	background: #3b5999;
	color: #fff;
	margin-top: 11px;
	padding: 10px 35px;
}
.submenu-button {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	display: block;
	border-left: 1px solid #e0e0e0;
	height: 57px;
	width: 57px;
	cursor: pointer;
	pointer-events: none;
	display: none;
}
.submenu-button::before {
	content: '';
	position: absolute;
	left: 19px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 11px;
	height: 1px;
	background: #071221;
	z-index: 99;
}
.submenu-button::after {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 24px;
	display: block;
	width: 1px;
	height: 11px;
	background: #071221;
	z-index: 99;
}
@media (max-width: 1199px) {
	nav.navbar.bootsnav ul.nav > li > a.custom-btn {
		padding: 9px 22px;
		margin-top: 7px;
	}
	nav.navbar.bootsnav ul.nav > li > a {
		padding: 16px 22px;
	}
}
@media (max-width: 991px) {
	.submenu-button {
		display: block;
	}
	nav.navbar.bootsnav.no-full .navbar-collapse {
		max-height: 100%;
		overflow-y: auto;
		padding-bottom: 15px;
	}
	.middel-part__block .logo {
		text-align: center;
	}
	.top-info__block ul {
		text-align: center;
	}
	.middel-part__block .logo:after, .middel-part__block .logo:before {
		display: none;
	}
}
@media (max-width: 991px) {
	.main_nav ul li > ul {
		position: static;
		width: 100%;
		border: none;
		box-shadow: none;
		float: none;
		margin: 0;
		padding: 0
	}
	.main_nav ul ul li {
		background: #3b5999;
		border-bottom: 1px solid #0874af;
	}
	.main_nav ul ul li a {
		color: #ffffff;
	}
	nav.navbar.bootsnav ul.nav > li > a {
		margin-bottom: 0;
		border-top: none;
	}
}
@media (min-width: 992px) {

	.navbar-nav > li:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	.top-info__block {
		width: 300px;
		margin: 0 auto;
	}
	.top-info__block li {
		border: none;
	}
}

.title-ipc{
	font-size: 28px;
    padding: 0;
    margin: 0;
    color: #006699;
}

div.header-navigation-div {
	width: 100%;
	text-align: center;
}
ul.header-navigation-ul {
	margin: 2px auto;
	line-height: 1.4;
	padding-left: 0;
}
.header-navigation-ul li {
	display: inline;
	text-align: center;
}

@media (min-width: 767px) {
	.middel-part__block{
		padding-bottom: 60px
	}
}

.logo{
	padding: 20px 0 0 0;
}

.link-modal:hover, .link-modal:active{
	cursor: pointer;
	color: #3b5999 !important
}

.imagen-pastor{
	float: left;
	width: 240px;
    height: 240px;
    margin: 0 20px 20px 0px;
}

.letra-modal{
	font-size: 14px;
}

.uppercase{
	text-transform: uppercase;
}

.card-link{
	padding: 0 0 0 2px;
	list-style:none;
}

.post-entry p{
	font-size: 13px;
}

.modal-body-scroll{
	overflow-y: scroll;
    max-height: 480px;
}

@media (max-width: 767px){
	.top-info__block ul li{
		display: block;
	}
	
	.servies-point{
		float: none;
	}

	.servies-point .icon-serv{
		margin-top: -14px;
	}

	#detalle_local{
		margin-top: 40px;
	}

	.right-detalle-tet{
		margin-top: 15px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.servies-point{
		padding: 0;
	}
}

.letras-banco{
	line-height: 1.58 !important;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}




/* */

  .visible {
	float:left;
	*font-weight:600;
	overflow:hidden;
	height:40px;   
  }
  
  .texto-fijo {
	display:inline;
	float:left;
	margin:0;
  }
  
  .texto-cambiante {
	margin-top:0;
	*padding-left:110px;
	text-align:left;
	list-style:none;
	animation:15s linear 0s normal none infinite change;
	-webkit-animation:15s linear 0s normal none infinite change;
	-moz-animation:15s linear 0s normal none infinite change;
	-o-animation:15s linear 0s normal none infinite change;
  }
  
  .texto-cambiante li {
	line-height:40px;
	margin:0;
  }
  
  @-webkit-keyframes opacity {
	0%   {opacity:0;}
	50%  {opacity:1;}
	100% {opacity:0;}
  }
  @keyframes opacity {
	0%   {opacity:0;}
	50%  {opacity:1;}
	100% {opacity:0;}
  }
  
  @-webkit-keyframes change {
	0%   {margin-top:0;}
	15%  {margin-top:0;}
	25%  {margin-top:-40px;}
	40%  {margin-top:-40px;}
	50%  {margin-top:-80px;}
	65%  {margin-top:-80px;}
	75%  {margin-top:-40px;}
	85%  {margin-top:-40px;}
	100% {margin-top:0;}
  }
  @keyframes change {
	0%   {margin-top:0;}
	15%  {margin-top:0;}
	25%  {margin-top:-40px;}
	40%  {margin-top:-40px;}
	50%  {margin-top:-80px;}
	65%  {margin-top:-80px;}
	75%  {margin-top:-40px;}
	85%  {margin-top:-40px;}
	100% {margin-top:0;}
  }

  .after, .before{
	color: #16a085;
    font-size: 30px;
    animation: 2s linear 0s normal none infinite opacity;
    -webkit-animation: 2s ease-out 0s normal none infinite opacity;
    -moz-animation: 2s ease-out 0s normal none infinite opacity;
    -o-animation: 2s ease-out 0s normal none infinite opacity;
  }

  .before {
    content: '[';
    position: absolute;
    left: -30px;
    line-height: 40px;
}
  .after {
    content: ']';
    position: absolute;
    right: -30px;
    line-height: 40px;
}

.texto-cuenta{
	color:#B1293D; 
	font-size: 15px;
    margin-left: -14px;
}

.texto-monto{
	font-size:14px;
}

@media (max-width: 767px) {
	.div-pago{
		text-align: initial !important;
		margin-left: 5%
	}

	.texto-cuenta{
		font-size: 11px;
	}

	.imagen-monto{
		width: 78px;
	}

	.texto-monto{
		font-size:11px;
	}

	.texto-cambiante{
		margin-left: -30px;
	}

	.div-img{
		margin-top: 280px;
	}
}

.right{
	float: right;
}

.texto-local{
	font-size: 14px;
}

.cortar_texto_titulo{
	font-size: 12px;
}

.div-pago{
	margin-bottom: 10px;
	text-align: center;
}

.absol-count .row{
	margin-right: 0px;
    margin-left: -10px;
}