﻿/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

.b-line {
	position: relative;
	width: 60px;
	height: 3px;
	background: #3b5999;
	display: block;
}
.bott-center {
	margin: 0 auto;
}
.main-banner {
	position: relative;
}
.main-banner .banner-text .sub-text {
	font-weight: 600;
	color: #ffffff;
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
}
.main-banner .banner-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 800;
	margin-bottom: 10px;
	line-height: 1.3;
	text-transform: capitalize;
	padding: 10px 0;
}
.main-banner .banner-text h2 span {
	color: #3b5999;
}
.main-banner .banner-text p {
	font-family: 'Roboto', serif;
	color: #ffffff;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8;
}
.main-banner .tp-parallax-wrap {
}
.main-banner .tp-mask-wrap {
	height: auto;
}
.main-banner .tp-mask-wrap .tp-caption .banner-text h2, .main-banner .tp-mask-wrap .tp-caption .banner-text h2 span {
	font-size: 45px;
}
.main-banner .tp-mask-wrap .tp-caption .banner-text h2 span {
	color: #3b5999;
}
.main-banner .more-btn {
	background: #3b5999;
	line-height: 30px;
	padding-left: 38px;
	padding-right: 38px;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 60px;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 100px;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
#wrapper .main-banner .tp-bullets {
	top: auto;
	left: 52%;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 66px;
}
.main-banner .tp-bullet {
	width: 26px;
	height: 3px;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #ffaf36;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #999999;
	z-index: 99;
	cursor: pointer;
	background: #999999;
	visibility: hidden;
	border-radius: 50%;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #3b5999;
	border: 1px solid #3b5999;
}
.slotholder:before {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.69);
	content: '';
}
@media (max-width: 480px) {
	.main-banner .banner-text h2 {
		font-size: 18px;
	}
	.main-banner .banner-text p {
		line-height: 1.2;
		font-size: 15px;
	}
}

.main-banner li .btn-text {
	line-height: 44px !important;
}

.green-bg {
	border: 2px solid #3b5999;
	background: #3b5999;
}

.btn-text:hover {
	background: none;
	color: #3b5999;
	text-decoration: none;
}
.green-bg:hover {
	color: #3b5999;
}

/*=======gototop======*/
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 999;
	background: #006699;
	width: 25px;
	height: 25px;
	text-align: center;
	color: #fff;
}
.back-to-top:hover {
	color: #fff;
}
/*=======Counter Section Block======*/
.absol-count {
	margin-bottom: 20px;
    margin-top: -27px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
	box-shadow: 2px 3px 3px rgb(204, 204, 204);
}
@media (max-width: 767px) {
	.absol-count {
		margin-top: 0px;
		border-radius: 0px;
	}
}
.counter-section__box {
	border-left: 1px solid #ccc;
}
@media (max-width: 767px) {
	.counter-section__box {
		border-left: none;
	}
}
.counter-section__box:first-child {
	border-left: none;
}
.counter-section__box p {
	text-transform: uppercase;
	font-size: 13px;
	color: #bdbcbc;
	margin: 0px;
}
@media (max-width: 991px) and (min-width: 768px) {
	.counter-section__box p {
		font-size: 15px;
	}
}
.counter-section__box .counter {
	color: #444;
	font-size: 26px;
	line-height: 1;
	font-weight: 600;
	padding-right: 16px;
	position: relative;
	margin: 0px;
	display: block;
}

/*========about-us============*/
.top-point {
	font-size: 20px;
	color: #000;
	border-bottom: 1px solid #73b841;
	display: inline-block;
	padding-bottom: 5px;
}
.categrie h3 {
	color: #031633;
	font-size: 18px;
	margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.categrie h3 {
		font-size: 20px;
	}
}
.categrie p {
	color: #999;
}
.about-comp h2 {
	text-transform: capitalize;
}
.about-comp a.btn {
	border-radius: 20px;
}
.hover-bg {
	transition: all 0.3s;
}
.hover-bg:hover * {
	color: #fff;
}
.hover_img1:hover {
	background: #031633 url(../images/1-1.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
}
.hover_img2:hover {
	background: #031633 url(../images/3-1.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
}
.hover_img3:hover {
	background: #031633 url(../images/5-1.png) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
}
/*======feedback==========*/
.bg-gray {
	background: #fafbfc;
}
#success {
	display: none;
	position: absolute;
	top: -76px;
	left: 0;
	width: 100%
}
.dark-translucent-bg {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.dark-translucent-bg {
	background-color: rgba(0,0,0,.4);
}
.contact-form {
	position: relative;
	text-align: center;
}
.contact-form input[type="text"], .contact-form textarea {
	padding-right: 30px;
	border: 1px solid #DEDEDE;
	margin-bottom: 0;
	font-size: 14px;
}
form .error {
	border-color: #e1534f;
}
.contact-form textarea {
	height: 110px;
	width: 100%;
	border: 1px solid #e5e5e5;
	color: #878787;
	font-size: 14px;
	padding: 15px;
}
.contact-form input[type="text"],
.contact-form select {
	display: block;
	height: 46px;
	margin-bottom: 30px;
	width: 100%;
	font-size: 14px;
	padding: 0 15px;
	border: 1px solid #e5e5e5;
	color: #878787;
	background: #fff;
	-webkit-appearance: none;
	border-radius: 0;
}
.contact-form input[type="text"]:focus, .contact-form textarea:focus {
	border: 1px solid #3b5999;
}
.i-block {
	display: inline-block;
}
.icon-circle {
	font-size: 50px;
	border: 1px solid #d5d5d5;
	height: 89px;
	width: 89px;
	text-align: center;
	line-height: 89px;
	margin: 0 auto;
	border-radius: 100%;
	display: block;
}
.contact .icon-circle {
	border: 1px solid #3b5999;
	color: #3b5999;
}
.mapmarker .ion-ios-location {
	color: #3b5999;
	font-size: 50px;
}
@media (max-width: 767px) {
	.inner-intro .container {
		width: 100%;
		max-width: 720px;
		text-align: center;
	}
}
.sent-but {
	min-width: 100%;
	border-radius: 20px;
	cursor: pointer;
}

/*=======Our Services==========*/
.servies-point {
	border: 1px solid #c3c3c3;
	padding: 20px 21px;
	float: left;
	transition: all 0.5s;
}
.servies-point .icon-serv {
	float: left;
	text-align: center;
	width: 82px;
	margin-top: 12px;
	font-size: 30px;
	background: #eeeeee;
	border-radius: 50%;
	padding: 26px;
	line-height: 30px;
	margin-right: 15px;
	color: #9b9b9b;
	transition: all 0.5s;
}

.servies-point .serv-poin {
	width: calc(100% - 97px);
	display: inline-block;
	overflow: hidden;
}

.serv-poin h3 {
	text-transform: uppercase;
	font-size: 16px;
	color: #031633;
	transition: all 0.5s;
}
.serv-poin h3 a {
	color: #031633;
}
.serv-poin h3 a:hover {
	color: #3b5999;
}
.serv-poin p {
	margin-bottom: 0px;
}
.servies-point:hover {
	border: 1px solid #3b5999;
	transition: all 0.5s;
}
.servies-point:hover .icon-serv {
	background: #3b5999;
	color: #fff;
	transition: all 0.5s;
}
/*======blue-Bar=======*/
.blue-bg {
	background: #3b5999;
}
.purchse-titan h2 {
	color: #fff;
}
.purchse-titan p {
	color: #fff;
	margin: 0px;
}
.purch-but {
	float: right;
	background: #fff;
	color: #3b5999 !important;
	border-radius: 20px;
	font-weight: 600;
}
.purch-but:hover {
	color: #fff !important;
	border-color: #fff;
}
@media (max-width: 767px) {
	.purch-but {
		float: none;
	}
}

/* -------------------------------------*/
/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) ---------*/
/* -------------------------------------*/

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
	width: 0;
	width: 40px;
	height: 40px;
	line-height: 36px;
	top: 50%;
	margin-top: -20px;
	opacity: 1;
	border: 1px solid #00b3fe;
	font-size: 25px;
	background: #565656;
	border-radius: 0;
}
.owl-nav i {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}
/*-------------------------------------------------------------------------------------------*/
/*  Testimonials     ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.overlay-dark, .overlay-dark80, .overlay-light, .overlay-light80 {
	position: relative;
	z-index: 1;
}

.overlay-dark80:before {
	background-color: rgba(0, 0, 0, 0.79);
}

.div_biografia {
	background-image: url(../image/util/biografia.jpg);
	background-position: 53% 18%;
	background-size: cover;
	background-repeat: no-repeat;
}

#biografia{
	border-top: none;
	border-bottom: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.69);
	content: '';
}
#biografia .heading-box h2 {
	color: #fff;
}
#biografia .owl-item .item span.invatic-icon {
	display: inline-block;
}
#biografia .owl-item .item span.quote-bot {
	border: 1px solid #3b5999;
	padding: 20px;
	border-radius: 50%;
	line-height: 1.1;
}
#biografia .owl-item .item span.invatic-icon i {
	font-size: 30px;
	color: #3b5999;
}
#biografia .owl-item .item p.lead {
	color: #000;
	font-size: 16px;
}
#biografia .owl-carousel {
	overflow: hidden;
}
.testimorial-bg {
	background: #f6f7fb;
}
.container-icon {
	font-size: 25px;
	margin-bottom: 15px;
	color: inherit;
}
.testimonial-pic {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	margin: 0 auto 20px;
	overflow: hidden;
}

.testimonial {
	max-width: 800px;
	width: 100%;
	padding: 20px;
}

.quote-author {
	margin: 0px;
	font-size: 18px;
	color: #000;
}

.quote-author span {
	font-weight: 400;
}
#biografia .owl-dots {
	margin-top: 20px;
}
#biografia .owl-dots .owl-dot {
	display: inline-block;
}
#biografia .owl-dots .owl-dot span {
	float: left;
	border: 1px solid #000;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
}
#biografia .owl-dots .active span {
	background: #000;
}

/*-------------------------------------------------------------------------------------------*/
/*  Team Box         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.team-carousel .gynaecological .team-item {
	position: relative;
	overflow: hidden;
}
.team-carousel .gynaecological .team-item:hover .team-item-detail {
	bottom: 0;
}
.team-item-detail {
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	padding: 0 10px;
	position: absolute;
	left: 0px;
	transition: 0.3s;
	bottom: -63px;
	width: 100%;
}
.team-item-detail-inner h5 {
	color: #000;
	text-transform: uppercase;
}
.team-item-detail-inner span {
	color: #000;
	margin: 10px 0px;
	display: block;
}
.team-item-detail-inner ul.social {
	background: #eff3f6;
	padding: 5px;
	margin-bottom: 0px;
}
.team-item-detail-inner ul.social li {
	list-style: none;
	display: inline-block;
}
.team-item-detail-inner ul.social li a {
	color: #000;
	padding: 0px 9px;
}
.team-item-detail-inner ul.social li a:hover {
	color: #3b5999;
}

/*===============Blog============*/
.blog-teble {
	position: relative;
}

.boton-view {
	position: absolute;
	bottom: -5px;
	right: 20px;
	z-index: 9;
}

.boton-view {
	position: absolute;
	bottom: -5px;
	right: 20px;
	z-index: 9;
}

.boton-view-biografia {
	position: absolute;
	bottom: 9px;
	right: 20px;
	z-index: 9;
}

.boton-view a {
	border-radius: 20px;
}
.blog-point .blog-pic {
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.blog-point .blog-pic {
		width: 100%;
	}
}
.blog-date {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #3b5999;
	color: #fff;
}
.blog-point .blog-pic .event-calender {
	width: 54px;
	height: 58px;
	font-size: 16px;
	padding-top: 7px;
	z-index: 9;
	display: block;
	text-align: center;
}
.blog-point .blog-pic .event-calender span {
	display: block;
}
.right-blog-tet {
}
@media (max-width: 767px) {
	.right-blog-tet {
		width: 100%;
	}
}

.post-header h4 {
	margin: 0px 0px 30px 0px;
}

#sedes .owl-controls .owl-dots,
#anuncios .owl-controls .owl-dots,
#noticas .owl-controls .owl-dots,
#testimonio .owl-controls .owl-dots
 {
	text-align: center;
	margin: -17px 0px 0px 60px;
}

@media (max-width: 767px) {
	#sedes .owl-controls .owl-dots
	#anuncios .owl-controls .owl-dots,
	#noticas .owl-controls .owl-dots,
	#testimonio .owl-controls .owl-dots {
		margin: 0;
	}
}
#sedes .owl-controls .owl-dots .owl-dot,
#anuncios .owl-controls .owl-dots .owl-dot,
#noticas .owl-controls .owl-dots .owl-dot,
#testimonio .owl-controls .owl-dots .owl-dot {
	display: inline-block;
}
#sedes .owl-controls .owl-dots .owl-dot span,
#anuncios .owl-controls .owl-dots .owl-dot span,
#noticas .owl-controls .owl-dots .owl-dot span,
#testimonio .owl-controls .owl-dots .owl-dot span {
	border: 1px solid #000;
	height: 10px;
	float: left;
	width: 10px;
	margin: 5px;
	border-radius: 50%;
}
#sedes .owl-controls .owl-dots .active span {
	background: #000;
}

.post-header h4 a {
	color: #000;
	text-transform: capitalize;
	line-height: 1.2;
}

/*accordion*/
.card {
	position: relative;
	overflow: hidden;
	margin: 10px 0 0px 0;
	border: none;
	border-radius: 0px;
}
.card-header {
	border-radius: 0px !important;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
	font-weight: bold;
	text-transform: capitalize;
}
.card-header {
	padding: 0;
	background: #3b5999;
}
.panel-title > a, .panel-title a {
	display: block;
}
.panel-default > .panel-heading a.collapsed, .panel-title a {
	background-position: right top;
}

.panel-default > .panel-heading a, .panel-title a {
	padding: 10px 60px 10px 28px;
	color: #fff;
	position: relative;
}
.panel-title a[aria-expanded="false"] .fa-angle-up:before {
	content: "\f107";
	font-famiyl: 'FontAwesome';
}

.collape-up, .panel-title a i {
	background: #3b5999;
	color: #fff;
}
.collape-up, .panel-title a i {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 48px;
	height: 100%;
	text-align: center;
}
.collape-up:before {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

/*=========Client-LOgo==========*/
#client-logos .owl-item .item .client-logo {
	text-align: center;
}
#client-logos .owl-item .item .client-logo img {
	width: auto;
	display: inline-block;
}
#client-logos {
	background: #fafbfc;
}

/*Footer*/

#footer {
	background-color: #222;
	padding: 70px 0 0;
	position: relative;
	z-index: 1;
}
#footer-widgets .widget .widget-title {
	font-size: 1.428em;
	margin-bottom: 25px;
	z-index: 1;
	position: relative;
}
#footer-widgets .widget .widget-title {
	margin-bottom: 36px;
	color: #fff;
}
#sidebar .widget .widget-title > span:after, #sidebar .widget .widget-title > span:after, #footer-widgets .widget .widget-title > span:after, #footer-widgets .widget .widget-title > span:after {
	width: 0;
	height: 1px;
	background-color: #585252;
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	z-index: -2;
}
#footer-widgets .widget {
	position: relative;
	z-index: 1;
	margin-top: 50px;
	color: #979797;
}
#footer-widgets .widget:first-child {
	margin: 0;
}
#footer-widgets .widget .widget-title > span {

	position: relative;
	padding-bottom: 12px;
	color: #3b5999;
}

.margin-top-5 {
	margin-top: 5px;
}
.margin-bottom-25 {
	margin-bottom: 25px;
}
#footer-widgets .widget ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
#footer-widgets .widget.widget_links ul.col2 li {
	padding: 0 0 12px;
}
#footer-widgets .widget.widget_links ul li a {
	position: relative;
	display: inline-block;
	padding-left: 25px;
	color: #c7c3c3;
	text-decoration: none;
	text-transform: capitalize;
}
#footer-widgets .widget.widget_links ul li a:hover {
	color: #3b5999;
}
#footer-widgets .widget.widget_links ul li a:before {
	content: "\\f111";
	font-family: "FontAwesome";
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 0;
}
#footer-widgets .widget.widget_links ul li a:before {
	content: "\f111";
}

#footer-widgets .widget.widget.widget_information ul li {
	position: relative;
	padding: 0;
	border: 0;
	margin-bottom: 5px;
}
#footer-widgets .widget.widget.widget_information ul .hl {
	font-weight: bold;
	width: 20%;
	float: left;
}
#footer-widgets .widget.widget.widget_information ul .text {
	width: 80%;
	float: left;
}
#footer-widgets .widget {
	position: relative;
	z-index: 1;
	margin-top: 20px;
	color: #b7b7b7;
}

#footer-widgets .widget.widget_socials .socials a {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 38px;
	color: #fff;
	line-height: 38px;
	text-align: center;
	margin-right: 11px;
	margin-bottom: 10px;
	z-index: 1;
}
@media (max-width: 1199px) and (min-width: 992px) {
	#footer-widgets .widget.widget_socials .socials a {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}
#footer-widgets .widget.widget_socials .socials a:last-child {
	margin-right: 0px;
}
#footer-widgets .widget.widget_socials .socials a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 1px solid #eaeaea;
	background-color: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
	transition: all ease .238s;
}
#footer-widgets .widget.widget_socials .socials a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 1px solid #717170;
	background-color: #717170;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
	transition: all ease .238s;
}
#footer-widgets .widget_information p {
	color: #c7c3c3;
	font-size: 15px;
}

#footer-widgets .widget.widget_socials .socials a:hover:before {
	background-color: #3b5999;
	border-color: #3b5999;
}
.footer-logo {
	width: 115px;
	margin-bottom: 20px;
}
#footer #footer-widgets .widget_text p {
	margin-top: 20px;
}
/*Newslatter*/
#footer-widgets .widget_information {
	position: relative;
}
#footer-widgets .widget_information form {
	position: relative;
	margin-top: 20px;
}

#footer-widgets .widget_information .newsletter-input {
	appearance: none;
	-webkit-appearance: none;
	border: 1px solid #fff;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #202020;
	outline: none;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 5px 15px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	display: inline-block;
}

#footer-widgets .widget_information .newsletter-input, #footer-widgets .widget_information .newsletter-input:focus {
	width: 100%;
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	padding-right: 40px !important;
	background: #fff;
	border-radius: 0;
	border: 1px solid #B1AFAF;
	color: #7f7f7f;
	height: 38px;
}
#footer-widgets .widget_information .newsletter-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 16px;
	background: #3b5999;
	line-height: 19px;
	border-radius: 0;
	width: 49px;
	height: 38px;
	color: #fff;
}
#footer-widgets .widget_information .newsletter-input::-webkit-input-placeholder {
	color: #d2d1d1;
}
#footer-widgets .widget_information .newsletter-input:-ms-input-placeholder {
	color: #d2d1d1;
}
#footer-widgets .widget_information .newsletter-input::-moz-placeholder {
	color: #d2d1d1;
	opacity: 1;
}
#footer-widgets .widget_information .newsletter-input:-moz-placeholder {
	color: #d2d1d1;
	opacity: 1;
}

/* Bottom Bar
 -------------------------------------------------------------- */
#bottom {
	font-size: 0.857em;
	background-color: #0d0d0d;
	padding: 19px 0;
	color: #c7c3c3;
	margin-top: 60px;
}
#bottom a:hover {
	color: #fff;
}

#bottom .bottom-bar-inner-wrap {
	display: table;
	overflow: hidden;
	width: 100%;
}
#bottom .bottom-bar-content {
	display: table-cell;
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 50%;
}
#bottom .bottom-bar-menu {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	width: 50%;
}
#bottom .bottom-bar-menu li:last-child a {
	padding-right: 0;
}
.wprt-container {
	width: 1170px;
	margin: 0 auto;
	max-width: 90%;
}
#bottom .bottom-bar-content {
	display: table-cell;
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 50%;
}
#bottom .bottom-bar-menu {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	width: 50%;
}
#bottom ul.bottom-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}
#bottom ul.bottom-nav > li {
	display: inline-block;
}
#bottom ul.bottom-nav > li > a {
	display: block;
	color: #b7b7b7;
	padding: 0 10px;
	position: relative;
}
@media only screen and (max-width: 991px) {
	#footer-widgets .widget .widget-title {
		font-size: 1.142em;
		margin-bottom: 28px;
	}
}
@media only screen and (max-width: 767px) {
	#footer {
		padding: 50px 0 10px;
	}
	#footer-widgets [class^="col-md-"] .widget:last-child {
		margin-bottom: 30px;
	}

	#bottom .bottom-bar-content, #bottom .bottom-bar-menu {
		width: 100%;
		display: block;
		text-align: center;
		padding: 5px 0;
	}

}
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 999;
	background: #3b5999;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	box-shadow: 0 0 0 0 rgba(6, 71, 107, 0.0);
	transition:all 0.3s ease-in-out;
}
.back-to-top:hover,.back-to-top:focus {
	color: #fff;
	box-shadow: -3px 5px 12px 2px rgba(6, 71, 107, 0.32);
}
/*  Preloader   ||-----------*/
#preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
	background: #fff;
}
.sk-circle {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.sk-circle .sk-child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sk-circle .sk-child:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #3b5999;
	border-radius: 100%;
	-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
	animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.sk-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.sk-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sk-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}
.sk-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}
.sk-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.sk-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}
.sk-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}
.sk-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}
.sk-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}
.sk-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}
.sk-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.sk-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.sk-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.sk-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.sk-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.sk-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.sk-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.sk-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.sk-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.sk-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.sk-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
0%, 80%, 100% {
-webkit-transform: scale(0);
transform: scale(0);
}
40% {
-webkit-transform: scale(1);
transform: scale(1);
}
}
@keyframes sk-circleBounceDelay {
0%, 80%, 100% {
-webkit-transform: scale(0);
transform: scale(0);
}
40% {
-webkit-transform: scale(1);
transform: scale(1);
}
}

.galeria-multimedia{
	border: 1px solid #c3c3c3;
}

.biografia.lead{
	color: #000;
    font-size: 16px;
}

.departamentos a{
	background: #fff;
    color: #3b5999;
    border: 1px solid #e9e9e9;
}

.departamentos{
	border-left: 4px solid #3b5999;
}

.card-departamento {
	border-bottom: 0px;
}

.bold{
	font-weight: bold;
}


.header-oracion{
	background: url(../../assets/image/util/banner.jpg) 0 0 no-repeat;
	background-position: 53% 18%;
    background-size: cover;
}

.none{
	display: none !important;
}

.owl-controls{
	padding: 30px;
}

.color-contactanos{
	color: #fff !important;
}

.cursor-pointer{
	cursor: pointer;
}

.icon-redes, .icon-redes:hover, .icon-redes:focus{
	width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 1px;
    background: #3b5999;
    color: #fff;
}

.icon-serv{
	margin: 0 15px 15px 15px;
}

.icon-redes{
	line-height: inherit !important;
	border-color:transparent;
	border-radius:0 0 0 0;
	border-style:none;
	border-width:0;
}

.facebook{
	background-color:rgba(59,89,153,1.00) !important;
	color:rgba(255,255,255,1.00) !important;
}

.twitter{
	background-color:rgba(136,153,166,1.00) !important; 
	color:rgba(255,255,255,1.00)  !important; 
}

.facebook-footer{
	background-color:rgba(255,255,255,1.00) !important;
	color:rgba(59,89,153,1.00) !important;
}

.twitter-footer{
	background-color:rgba(255,255,255,1.00) !important;
	color:rgba(136,153,166,1.00) !important; 
}

.youtube-footer{
	background-color:rgba(255,255,255,1.00) !important;
	color:rgb(221, 48, 48) !important; 
}

.blog-pic img{
	height: 152px;
}


@media (max-width: 400px) {
	.blog-pic img{
		height: 300px;
	}

	#imagen_local{
		height: 300px;
		width: 400px;
	}
}

@media (min-width: 767px) {
	#imagen_local{
		height: 260px;
		width: 400px;
	}
}

.font-12{
	font-size: 12px;
}

.modal-body-scroll-height{
	height: 480px;
}