.music-list i {
    position: absolute;
    left: 0;
    top: 44%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: 0;
    width: 56px;
    padding-left: 17px;
    line-height: 56px;
    text-align: center;
    color: #3b5999;
    font-size: 56px;
    transition: .6s ease all;
}

.music-list li {
    display: inline-block;
    margin-top: 26px;
    text-align: left;
    cursor: pointer;
    position: relative;
    font-size: 15px;
    padding: 22.5px 13px 25.5px 91px;
    border: 1px solid #eeeeee;
    border-radius: 35px;
    overflow: hidden;
    transition: .6s ease all;
    *min-width: 290px;
}


.music-list li:hover {
    background: #b3b7bd;
    color: #fff;
}

@media (max-width: 767px) {
    .music-list{
        padding-left: 0px;
    }
}

@media (min-width: 480px){
    .music-list i {
        padding-left: 28px;
    }
}

@media (min-width: 768px){
    .music-list {
        margin-left: -27px;
    }
}

@media (min-width: 1200px){
    .music-list li {
        min-width: 370px;
    }
}

@media (min-width: 992px){
    .music-list li {
        margin-left: 23px;
    }
}

@media (min-width: 768px){
    .music-list li {
        min-width: 350px;
        margin-left: 15px;
    }
}

@media (min-width: 480px){
    .music-list li {
        *min-width: 320px;
        padding: 22.5px 13px 25.5px 107px;
    }
    .music-list li {
        display: inline-block;
        margin-top: 26px;
        text-align: left;
        cursor: pointer;
        position: relative;
        font-size: 15px;
        /* padding: 22.5px 13px 25.5px 91px; */
        border: 1px solid #eeeeee;
        border-radius: 35px;
        overflow: hidden;
        transition: .6s ease all;
        /* min-width: 290px; */
    }
}

@media (min-width: 480px){
    .music-list li:before {
        padding-left: 28px;
    }
}


@media (max-width: 990px){
    .music-list li {
        width: 100%;
    }
}

